body{
        background: linear-gradient(-45deg,rgb(33, 37, 41) 50%,#fe9859 50%);
}


.nav-link:hover{
        /* font-size: 1.25em;*/
        transition: 0.4s ease-in-out;
        color: black;
        background-color: #fe9859;
        border-radius: 1.1rem;
}


/* Navbar */
nav{
        width: 100%;
        height: 10%;
}

/* to keep navbar fixed at the top, use the navbar class below and change the margin of the row div according to the page  */
.navbar{
        position: fixed;
        top: 0;
        z-index: 1;
        border-bottom: 3px solid #FFA46C;
}

.navbar-brand{
        margin-left: 2%;
        font-size: 1.875rem;
        color: white;
}
.navbar-nav{
        background-color: rgb(33, 37, 41);
        position: absolute;
        right: 0.005rem;
        padding-right: 2em;
        z-index: 100;
}
.nav-link {
        margin-left: 1.875rem;
        font-size: 1.15rem;
        color: white;
}
.navbar-toggler {
        background-color: white;
}

/* Slide-show*/
.slideshow-container {
  position: relative;
  top:10%;
  margin: auto;
  width: 40%;
  height: 400px;
  overflow: hidden;
}
.slideshow-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.image{
        margin: auto;
        width:100%;
        height:100%;
}
.slideshow-slide.active {
  opacity: 1;
}
.slideshow-prev,
.slideshow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(230, 205, 184);
  text-decoration: none;
  cursor: pointer;
}
.slideshow-prev {
  left: 20px;
}
.slideshow-next {
  right: 20px;
}

/* Drop Down */
 .btn{
display: flex;
flex-direction: column;
align-items: center;
row-gap: 10px;
}
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  margin: auto;
  font-size: 20px;
  color: #030202;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-container {
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.dropbtn {
  background-color: #fe9859;
  color: rgb(14, 13, 13);
  padding:5px 10px ;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ff9756;
}

 .dropdown {
  position: absolute;
  bottom:0px;
  left:10px;
} 

.dropdown-content {
  display: none;
  position: relative;
  left: 2px;
  top: 0px;
  background-color: #ff9578;
  min-width: 150px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 10px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #615353;}

.show {display: inline-block;} 

/* Card-Styles */
.container {
        margin-top: 8rem;
        margin-bottom: 10px;
}

.card {
        border: 0.125rem solid black;
        --bs-card-border-width: none;
}

.card a {
        font-size: 1.2rem;
}

.card-header {
        color: white;
        padding: 15px 10px;
}

.card-body {
        font-size: large;
}

.card-footer {
        display: flex;
        flex-wrap: wrap;
}

/* Form  */

form {
        margin-bottom: 0;
}

p {
        font-size: 20px;
        margin-top: 10px;
        margin-left: 20px
}